<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://clawquest.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/b32e6484-35d4-4c1f-ad84-cb461c5e7cbb/resourcegroups/ClawQuest20231112215451ResourceGroup/providers/Microsoft.ContainerRegistry/registries/ClawQuest</ContainerResourceId>
    <ContainerResourceName>ClawQuest</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>clawquest.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b32e6484-35d4-4c1f-ad84-cb461c5e7cbb/resourcegroups/ClawQuest20231112215451ResourceGroup/providers/Microsoft.Web/sites/ClawQuest</ResourceId>
    <ResourceGroup>ClawQuest20231112215451ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://clawquest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>03843d84-134b-42bb-b217-5bf178833a17</ProjectGuid>
  </PropertyGroup>
</Project>