################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS476/FileContentIndex
/.vs
/ClawQuestSolution/.vs/ClawQuestSolution
/ClawQuestSolution/ClawQuest/obj
/ClawQuestSolution/ClawQuest/bin
/ClawQuestSolution/.vs/ProjectEvaluation
/ClawQuestSolution/ClawQuestTests/obj
/ClawQuestSolution/ClawQuestTests/bin/Debug/net6.0
/ClawQuestSolution/ClawQuestTests/obj/ClawQuestTests.csproj.nuget.g.props
/ClawQuestSolution/ClawQuestTests/obj/ClawQuestTests.csproj.nuget.dgspec.json
/ClawQuestSolution/ClawQuestTests/obj/project.assets.json
/ClawQuestSolution/ClawQuestTests/obj/project.nuget.cache
/ClawQuestSolution/ClawQuestTests/obj/Debug/net6.0/ClawQuestTests.AssemblyInfo.cs
/ClawQuestSolution/ClawQuestTests/obj/Debug/net6.0/ClawQuestTests.assets.cache
/ClawQuestSolution/ClawQuestTests/obj/Debug/net6.0/ClawQuestTests.csproj.AssemblyReference.cache
/ClawQuestSolution/ClawQuestTests/obj/Debug/net6.0/ClawQuestTests.GeneratedMSBuildEditorConfig.editorconfig
