################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS476/FileContentIndex
/.vs
/ClawQuestSolution/.vs/ClawQuestSolution
/ClawQuestSolution/ClawQuest/obj
/ClawQuestSolution/ClawQuest/bin
/ClawQuestSolution/.vs/ProjectEvaluation
