html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#clawQuestVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.result, .tries {
    margin-bottom: 10px;
}

.claw-machine-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.controls {
    margin-top: 20px;
}

.claw-machine {
    position: relative;
    width: 300px;
    height: 400px;
    left: 220px;
    border: 2px solid #000;
    overflow: hidden;
}

.machine-body {
    background-color: #d3d3d3;
    width: 100%;
    height: 5px;
    top: 5px;
    position: relative;
}

#claw {
    position: absolute;
    width: 60px;
    height: 196px;
    transition: transform 2s ease-in-out;
}

#clawBar {
    position: absolute;
    top: 20px;
    left: 27px;
    width: 6px;
    height: 15px;
    background: #5b5b5b;
}

#clawALL {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
}

#clawBall {
    position: absolute;
    top: 31px;
    left: 24px;
    width: 6px;
    height: 6px;
    border: 6px solid #5b5b5b;
    border-radius: 50%;
}

#leftClaw {
    position: absolute;
    top: 36px;
    left: 3px;
    width: 16px;
    height: 25px;
    border-top: 8px solid #5b5b5b;
    border-left: 4px solid #5b5b5b;
    transform-origin: top right;
    transform: rotate(-30deg);
}

#rightClaw {
    position: absolute;
    top: 36px;
    right: 3px;
    width: 16px;
    height: 25px;
    border-top: 8px solid #5b5b5b;
    border-right: 4px solid #5b5b5b;
    transform-origin: top left;
    transform: rotate(30deg);
}

#clawOpen {
    transform: rotate(0deg);
}

@-webkit-keyframes fullsize {
    from {
        transform: scale(1) translate(0,0)
    }

    to {
        transform: scale(4) translate(30px,-30px)
    }
}

